<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify user</title>
</head>
<body>
    <h2>Verificación de usuario</h2>
    <h3 style="text-transform: uppercase"><span style="text-transform: capitalize">Hola, </span>{{name}}</h3>

    <p>¡Gracias por registrarte en Taskiu! Antes de comenzar, solo necesitamos confirmar que eres tú.</p>
    <p>Haz clic a continuación para verificar tu dirección de correo electrónico:</p>
    <a href="{{url}}">Verificar correo electrónico</a>
    <p>Gracias.</p>
    <p>Soporte Tecnico Taskiu</p>
</body>
</html>