<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
    <h2>Restablecimiento de contraseña</h2>
    <h3 style="text-transform: uppercase"><span style="text-transform: capitalize">Hola, </span> {{name}}</h3>

    <p>Recibimos una solicitud para restablecer tu contraseña, para continuar de clic en el siguiente enlace:</p>
    <a href="{{url}}">Restablecer de contraseña</a>
    <p>Ten en cuenta que este enlace es de único uso, si requieres hacer el proceso de recuperación de nuevo debes solicitar
        otro enlace.</p>
    <p>Si no solicitaste el cambio de contraseña ignora este mensaje.</p>
    <p>Gracias.</p>
    <p>Soporte Tecnico Taskiu</p>
</body>
</html>